.time {
    color: #0E4DA4;
    opacity: 0.54;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 37px;
    letter-spacing: 0.2px;
    color: #263238;
    margin: 10px 0;
}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.005em;
    color: #263238;
    margin: 10px 0;
}
