.container {
    display: flex;
    flex-direction: column;
    padding: 0 18px;
    background: #ffffff;
}

.closeButton {
    margin: 0 auto;
    padding: 16px;
    border: none;
    background: transparent;
    font-size: 24px;
    color: #979797;
    cursor: pointer;
}

.closeButton:hover {
    color: #0E4DA4;
    text-decoration: underline;
    font-weight: bold;
}
